# Ignore Terraform state files
*.tfstate
*.tfstate.*
*.terraform.tfstate.backup
.tfplan

# Ignore Terraform backup files
*.backup

# Ignore logs and debug files
*.log

# Ignore local Terraform directories
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.terraform.tfstate.backup.json

# Ignore credentials or sensitive files
*.json

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore other temporary files
*.swp
*.tmp

