# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform backup files
*.backup

# Ignore logs and debug files
*.log

# Ignore local Terraform directories
.terraform/
.terraform.lock.hcl

# Ignore credentials or sensitive files
*.json

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore other temporary files
*.swp
*.tmp

functions/**/*.zip.terraform/
*.tfstate
*.tfstate.backup
terraform/providers/
